body{
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h1 {
    font-size: 24px;
    margin: 10px 0;
    padding-left: 0;
}

.signlog{
    width: 150px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    background-color: #10b964;
    padding: 5px;
    padding-bottom: 28px;
    border: none;
    font-size: 15px;
    transition: all 0.3s ease;
}

.signlog:hover{
    font-size: 15px;
    transform: scale(1.05);
}

ul .links{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding-left: 40px;
    font-size: 18px;
    transition: all 0.3s ease;
    display: inline-block;
}

ul .links:hover{
    color: green;
    font-size: 19px;
    transform: translateY(-3px);
}